html, body {
  height: 100%;
  width: 100%;
}
body {font-family: "ＭＳ Ｐゴシック";}

body {
  background-image: url('img-1.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}


.rectangle {
  background-color: #F6F6F6;
  border: 2px solid black;
  width: 275px;
  height: 200px;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%); /* This will center the element horizontally and vertically */
  display: flex;
  align-items: center;
}

.rectangle h1 {
  font-size: 24px;
  font-weight: bold;
  color: black;
  text-align: center; /* This will center the text horizontally */
  padding-left: 10px;
}
.inner-rectangle {
  background-color: #D9D9D9;
  border-top: 2px solid black;
  width: 275px;
  height: 30px;
  position: absolute;
  bottom: 0; /* This will position the element at the bottom of the parent element */
  display: flex;
  align-items: center;
}

button {
  font-family: "ＭＳ Ｐゴシック";
  margin: 7px; /* This will add 10 pixels of margin to the left and right sides of the button */
  font-size: 10px;
  border-left: 1px solid black; 
  border-top: 1px solid black;
  border-radius: 5%;
}

input#image-button{
    background: #ccc url('pixelme.png') no-repeat top left;
    padding-left: 16px;
    height: 16px;
}
header {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.text-1 {
  font-size: 20px;
}
.text-2 {
  font-size: 20px;
}